/* common section start  */ 

* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    --used-color: #FF42A5;
    --para-color: #534C64;
    --btn-color: #4EC5F7;
    /* box-sizing: border-box; */
}

.special-color {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.btn {
    border-radius: 25px;
    padding: 12px 20px;
    color: white;
    background-color: var(--used-color);
    border: none;
}

.blue-btn {
    background-color: var(--btn-color);
}

/* common section end  */

/* header section start */

header {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav {
    /* max-width: 980px;
    margin: 0 auto; */
    padding: 30px 150px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo-container {
    display: flex;
    align-items: center;
    gap: 8px;
}


img {
    width: 33px;
    height: 17px;
}

.logo-container h3 {
    font-size: 20px;
}

.logo-container span {
    color: var(--used-color);
}

nav ul {
    /* border: 1px solid blue; */
    /* margin: auto 10px; */
    display: flex;
}

nav ul li {
    list-style: none;
    margin-left: 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 13px;
    color: #3C354F;
    font-weight: 500;
}

nav ul .follow-us {
    background-color: rgba(11, 2, 35, 0.10);
    padding: 10px;
}

nav .fa-brands .fa-youtube {
    font-size: 18px;
}


/* banner section start  */


.banner-container {
    /* max-width: 980px; */
    /* margin: 0 auto; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}
.banner-container .banner-content {
    padding: 50px 280px 50px 150px;
    /* padding-left: 150px;
    padding-right: 280px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid blue; */
    background: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    /* background-position: ; */
    background-size: cover;
}

.banner-content .goat-heading {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
}

.banner-content h2 {
    font-weight: 600;
}

.banner-content .download-icon {
    margin: 10px 0;
}

.banner-content .fa-solid {
    border: 1px solid black;
    border-radius: 50%;
    padding: 3px;
    margin-right: 10px;
}

.banner-content p {
    color: var(--para-color);
    font-size: 10px;
}

.banner-img {
    width: 30%;
    padding-right: 150px;
}
.banner-img img {
    width: 100%;
    height: 100%;
}

.button-div {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

/* banner section end */

/* header section end */



/* main section start */

.we-are-gamer-container {
    padding: 60px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.we-are-gamer-container .gamer-img {
    padding-left: 50px;
    width: 70%;
    /* border: 1px solid red; */
}

.gamer-img img {
    width: 100%;
    height: 100%;
}

.gamer-content {
    /* border: 1px solid burlywood; */
    text-align: end;
    width: 60%;
}

.gamer-p1 {
    /* border: 1px solid black; */
    color: var(--para-color);
    font-size: 13px;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
}

.gamer-content button {
    margin-bottom: 20px;
}

.gamer-content h5 {
    font-weight: 400;
}

.unleash-para {
    font-size: 20px;
    font-weight: 700;
    color: #534C64;
}

/* funny videos start  */

.funny-videos-container {
    padding: 0 150px;
    text-align: center;
}

.funny-videos-container p {
    font-size: 10px;
    columns: var(--para-color);
    margin-bottom: 20px;
}

.funny-img-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.funny-img {
    width: 100%;
    height: 400px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    /* margin: auto auto; */
}

.funny-img img {
    width: 100%;
    height: 100%;
}

.funny-img-container .funny-img-des {
    margin-top: 10px;
    color: #534C64;
    font-size: 13px;
    text-align: start;
    font-weight: 500;
}

.funny-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.funny-img:hover::before {
    opacity: 1;
  }

  .hover-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }


  .hover-div p {
    color: #F948B2;
    font-size: 14px;
    font-weight: 600;
    /* opacity: 0;
    transition: opacity 0.3s ease; */
  }

  /* .funny-img:hover .hover-div {
    opacity: 1;
  }

  .funny-img:hover .hover-div p {
    opacity: 1;
  } */


/* funny videos end */


/* absolute section start  */

.absolute-section-container {
    padding: 100px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 30px;
}

.absolute-content-store {
    display: inline-block;
    width: 390px;
    text-align: end;
    /* border: 1px solid red; */
}

.absolute-section-container .absolute-content h2 {
    font-size: 30px;
    /* text-align: end; */
}

.absolute-section-container .absolute-content p {
    margin-top: 10px;
    margin-left: auto;
    font-size: 14px;
    text-align: end;
    color: var(--para-color);
    width: 70%;
}

.absolute-img-container {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    /* border: 1px solid blue; */
    position: relative;
}

.absolute-img-container .main-img {
    /* border: 1px solid red; */
    width: 80%;
    height: 90%;
    text-align: end;
}

.absolute-img-container .float-img {
    position: absolute;
    width: 35%;
    height: 300px;
    bottom: -50px;
    left: 0;
}

/* absolute section end */

/* game buttons container start */

.game-button-container {
    padding: 30px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    /* border: 1px solid red; */
}

.game-button-container button {
    border: 1px solid transparent;
    border-radius: 40px;
    padding: 20px;
    background-color: transparent;
    cursor: pointer;
}

.game-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.game-btn img {
    width: 30px;
    height: 30px
}

.game-button-container button:hover {
    border: 1px solid #F948B2;
    color: #F948B2;
}

/* game buttons container end */

/* main section end */


/* footer section start */

footer {
    background-color: rgb(3, 3, 44);
    
    color: white;
}

.footer-container {
    padding: 50px 150px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}



.footer-container .ul1 li {
    font-size: 11px;
    font-weight: 600;
}

.footer-container .ul2 li {
    font-size: 9px;
}

.footer-container .logo-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ul-div {
    display: flex;
    gap: 30px;
}

.ul-div li {
    list-style: none;
}

.social-icon {
    display: flex;
    gap: 20px;
}

.social-icon button {
    /* background-color: transparent; */
    background-color: transparent;
    border: 0;
    color: white;
}

.footer-container p {
    font-size: 10px;
}

/* footer section end */